<div class="row">
	<div class="col-md-6 col-sm-12">
		<form class="upload" enctype="multipart/form-data" action="/admin/add-product" method="post">
			<div class="form-group">
				<label for="prodName">Name</label>
				<input type="text" id="prodName" name="prodName" class="form-control">
			</div>
			<div class="form-group">
				<label for="prodDesc">Description</label>
				<textarea type="text" id="prodDesc" name="prodDesc" class="form-control" rows="6"></textarea>
			</div>
			<div class="form-group">
				<label for="prodPrice">Price</label>
				<input type="text" id="prodPrice" name="prodPrices" class="form-control">
			</div>
			<input onchange="loadFile(event)" type="file" name="userPhoto" />
			<img id="preview" src="">
			<br>
			<input type="hidden" name="_csrf" value="{{ csrfToken }}">
			<button type="submit" class="btn btn-success">Submit Item</button>
			<span class="status"></span>
		</form>
		{{# if images}}
			{{# each images}}
				<img src="{{image.url}}">
			{{/each}}
		{{/if}}
	</div>
	<div class="itemListAdmin col-md-6 col-sm-12">
		<input id="searchTermAdmin" autocomplete="off" onkeyup="searchFunctionAdmin()" type="text" class="form-control" placeholder="Search">
		{{# if products}}
			{{# each products}}
				<div class="itemAdmin row thumbnail">
					<div class="edit" data-toggle="modal" data-target="#myModal">
						<div class="col-md-4 col-sm-6">
							<img class="adminImg" src="{{this.item.imagePath}}">
						</div>
						<div class="col-md-8 col-sm-6 shrink">
							<p class="title">{{this.item.title}}</p>
							<p class="description">{{this.item.description}}</p>
							<p class="price">{{this.item.price}}</p>
							<p class="prodId">{{this.item._id}}</p>
							<i class="fa fa-pencil-square-o fa-2x editIcon" aria-hidden="true">Edit</i>
						</div>
					</div>
				</div>
			{{/each}}
		{{ else }}
			<div class="row">
				<h2>No Items</h2>
			</div>
		{{/if}}
	</div>
</div>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit</h4>
        </div>
        <div class="modal-body">
          <form class="upload" enctype="multipart/form-data" action="/admin/update-product" method="post">
						<div class="form-group">
							<label for="newProdName">Name</label>
							<input type="text" id="newProdName" name="newProdName" class="form-control">
						</div>
						<div class="form-group">
							<label for="newProdDesc">Description</label>
							<textarea type="text" id="newProdDesc" name="newProdDesc" class="form-control" rows="6"></textarea>
						</div>
						<div class="form-group">
							<label for="newProdPrice">Price</label>
							<input type="text" id="newProdPrice" name="newProdPrices" class="form-control">
						</div>
						<input type="file" onchange="loadFileModal(event)" name="userPhoto" />
						<input type="hidden" name="_csrf" value="{{ csrfToken }}">
						<input type="hidden" id="Id" name="id" value="">
						<input type="hidden" id="imagePath" name="imagePath" value="">
						<input type="hidden" id="changed" name="changed" value="false">
						<img id="modalPreview" src="">
						<br>
						<button type="submit" class="btn btn-success">Submit Update</button>
						<span class="status"></span>
					</form>
        </div>
        <div class="modal-footer">
        	<form class="delete" action="" method="post">
        		<p class="sure">Are you sure?</p>
        		<button type="submit" class="sure btn btn-danger">Yes</button>
        		<p id="deleteButton" class="btn btn-danger">Delete</p>
        		<button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
        	</form>
        </div>
      </div>
      
    </div>
  </div>