<div class="itemList">
  {{# each products}}
    <div class="item">
      <a class="productLink" href="/product/{{ this.item._id }}" role="button">
        <img src="{{ this.item.imagePath }}" alt="..." class="img-responsive">
        <h3 class="title">{{ this.item.title }}</h3>
      </a>
      <hr>
      <div class="clearfix">
        <div class="price pull-left">${{ this.item.price }}</div>
        <div class="addToCart pull-right"><a class="btn btn-primary" href="/add-to-cart/{{ this.item._id }}" role="button">Add to Cart</a></div>
      </div>
    </div>
  {{/each}}
</div>