<div class="row">
	<div class="col-md-6 col-sm-12">
		<img id="productPageImage" src="{{ product.imagePath }}"></img>
	</div>
	<div class="col-md-6 col-sm-12">
		<h1>{{ product.title }}</h1>
		<p>{{ product.description }}</p>
		
		<p>{{ product.price }}</p>
		<a class="btn btn-primary" href="/add-to-cart/{{ product._id }}" role="button">Add to Cart</a>
	</div>
</div>