{{# if products}}
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<ul class="list-group">
				{{# each products}}
					<li class="list-group-item clearfix">
						<span class="badge">{{ this.qty }}</span>
						<strong class="pull-left">{{ this.item.title }}</strong>
						<span id="price" class="label label-success pull-right">${{ this.price }}</span>
						<a class="btn btn-info btn-xs pull-right" href="/reduce/{{this.item._id}}">Remove 1</a>
						<a class="btn btn-info btn-xs pull-right" href="/remove/{{this.item._id}}">Remove All</a>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<strong>Total: ${{ totalPrice }}</strong>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<button type="button" class="btn btn-success">Checkout</button>
		</div>
	</div>
{{ else }}
<div class="row">
	<div class="col-sm-12 col-md-12">
		<h2>No Items in Cart.</h2>
		<a href="/" class="btn btn-success">Shop</a>
	</div>
</div>
{{/if}}